body{
  font-family:'Courier New',monospace;
  font-size:14px;
  background:rgb(255, 233, 233);
}

.container{
  margin:20px auto;
  width:450px;
  background:rgb(235, 255, 230);
  padding:20px;
  text-align:center;
}

#timer {
  background:rgb(225, 229, 255);
  height:250px;
  line-height: 250px;
  font-size:60px;
  margin-bottom: 15px;
  color:rgb(68, 68, 68);
  user-select:none;
}

.btn{
  width: 48px;
  height: 48px;
  line-height:45px;
  font-weight:bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  margin: auto;
}

.btn img{
  width: 100%;
}

.controls{
  display:flex;
  justify-content: space-between;
}

.inactive{
  opacity: 0.5;
}