body{
  font-family:'Courier New',monospace;
  font-size:14px;
  background:rgb(219, 219, 219);
}

.container{
  margin:20px auto;
  width:450px;
  background:#fff;
  padding:20px;
  text-align:center;
}

#timer {
  background:rgb(219, 219, 219);
  height:250px;
  line-height: 250px;
  font-size:60px;
  margin-bottom: 15px;
}

.btn{
  width: 100px;
  height:45px;
  line-height:45px;
  background:#ddd;
  font-weight:bold;
  cursor: pointer;
  user-select: none;

}

.controls{
  display:flex;
  justify-content: space-between;
}

.inactive{
  opacity: 0.5;
}